/* .tech-stack {
  grid-template-columns: repeat(3, 50px);
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 20px;
}

.tech {
  width: 100%;
  border-radius: 3px;
  filter: grayscale(1);
  transition: all 0.3s;
}

.tech:hover {
  filter: grayscale(0);
} */
