@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .test {
    border-radius: 51px;
    background: #e0e0e0;
    box-shadow:
      -21px 21px 57px #c1c1c1,
      21px -21px 57px hsl(0, 0%, 100%);
  }
}
/*
:root {
  --c1: #0d1b2a;
  --c2: #1b263b;
  --c3: #415a77;
  --c4: #778da9;
  --c5: #e0e1dd;
}

body {
  background-color: var(--c1);
  color: var(--c5);
}
*/
