name: Build and Deploy to S3 Bucket
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  BUILD_DIR_NAME: dist
permissions:
  id-token: write
  contents: read

jobs:
  builder:
    runs-on: arc-runner-set-personal-website
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Cache Next.js build
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
            node_modules/.cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx', '**.json') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
            ${{ runner.os }}-nextjs-

      - run: npm ci
      - run: npm run build
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: build_files
          path: ${{env.BUILD_DIR_NAME}}
  deploy:
    needs: builder
    runs-on: arc-runner-set-personal-website
    steps:
      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: build_files
          path: ./dist

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.AWS_ROLE_ARN}}
          aws-region: ${{secrets.AWS_REGION}}

      - name: Sync to S3
        run: |
          aws s3 sync ./dist s3://${{ secrets.AWS_S3_BUCKET}}/ \
            --delete \
            --exclude "images/*" \
            --exclude "documents/*"

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{secrets.DISTRIBUTION_ID}} \
            --paths "${{secrets.INVALIDATION_PATH}}"
